<footer class="site-footer">
    <p class="widget-label">RETURN_CONTACT</p>

    <h2 class="footer-email"><%= data.email %></h2>

    <p class="footer-copy">&copy; 2026 <%= data.name %>. All Rights Reserved.</p>
</footer>
